@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@* code: Jacques Apaloo*@

<form name="Form" onsubmit="return validateForm()" action="InsertCategories" method="Post">


    Category Name <br />
    <input type="text" id="this is for js" class="this is for your css" name="aCategoryName"  />
    <br />

    Description <br />
    <input type="text" id="this is for js" class="this is for your css" name="aDescription"  />

    <br />

    <input type="submit" />     <input type="reset" />
</form>


@*######################################################################################*@
@*##########################    JavaScrip Form Validation    ###########################*@
@*######################################################################################*@
@*Logan Krupa*@

<script>
    function validateForm() {
       
        if (document.forms["Form"]["aCategoryName"].value == "") {
            alert("Category Name must be filled out");
            return false;
        }
        if (document.forms["Form"]["aDescription"].value == "") {
            alert("Description must be filled out");
            return false;
        }
    }
</script>