@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form name="Form" action="InsertShippers" onsubmit="return validateForm()" method="Post">
    @*
    Shipper Id <br />
    <input type="text" id="this is for js" class="this is for your css" name="aShipperId" />
    *@
    <br />

    
    Company Name <br />
    <input type="text" id="this is for js" class="this is for your css" name="aCompanyName" />
    <br />

    Phone <br />
    <input type="text" id="this is for js" class="this is for your css" name="aPhone" />
    <br />

    <input type="submit" />     <input type="reset" />

</form>

@*######################################################################################*@
@*##########################    JavaScrip Form Validation    ###########################*@
@*######################################################################################*@
@*Logan Krupa*@
<script>
    function validateForm() {

        if (document.forms["Form"]["aCompanyName"].value == "") {
            alert("CompanyName must be filled out");
            return false;
        }


    @*Phone has to be 10*@

        if (document.forms["Form"]["aPhone"].value == "") {
            alert("Phone must be filled out");
            return false;
        }
        if (document.forms["Form"]["aPhone"].value.length < 10) {
            alert("Phone must be 10 numbers");
            return false;
        }
        if (document.forms["Form"]["aPhone"].value.length > 10) {
            alert("Phone must be 10 numbers");
            return false;
        }
    }
</script>
